
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hakkımda Bilgisi Ekleme</h2>

<form method="post">
    <label>Hakkımda Açıklaması (Maks.1000 Karakter)</label>
    <br />
    <textarea name="Description" cols="150" rows="15"></textarea>
    <br />
    <button class="btn btn-info">Ekle</button>
</form>

