
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Ekleme</h2>

<form method="post">
    <label>Sosyal Medya Başlığı</label>
    <input type="text" class="form-control" name="PlatformName"/>
    <br />
    <label>Durum</label>
    <input type="text" class="form-control" name="Status"/>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

